
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">

	<link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png?v=2">
	<link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png?v=2">
	<link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png?v=2">
	<link rel="icon" href="/icon/favicon.ico" type="image/x-icon">
	<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!----422---->
<!----VisualHyip.com---->
	<!-- Bootstrap CSS -->		

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<meta property="og:url" content="/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="TradeCrypt">
    <meta property="og:site_name" content=" ">
    <meta property="og:image" content="/base/og.jpg">
    <meta property="twitter:title" content="TradeCrypt">
    <meta property="twitter:site" content="TradeCrypt">
    <meta property="twitter:image" content="/base/og.jpg">
    <meta property="twitter:image:src" content="/base/og.jpg" >
    <meta property="twitter:card" content="summary_large_image">

	<link rel="stylesheet" href="/style/style.css">	 
		<title>ADMIN</title>

    <style>
    
        th, td {
            padding: 8px 12px;
            border: 1px solid #ccc;
        }
        th {
            background-color: #f4f4f4;
        }
        .edit-field {
            display: none;
        }
    </style>
    <script>
        function toggleEditField(userId) {
            const displayField = document.querySelectorAll(`.display-${userId}`);
            const editField = document.querySelectorAll(`.edit-${userId}`);
            
            displayField.forEach(field => field.style.display = field.style.display === 'none' ? 'table-cell' : 'none');
            editField.forEach(field => field.style.display = field.style.display === 'none' ? 'table-cell' : 'none');
        }

        async function saveChanges(userId) {
            const profit = document.querySelector(`#profit-input-${userId}`).value;

            const data = {
                userId : userId,
                profit : profit
            }

            try {
                const response = await fetch('/admin/update', {
                    method: 'POST',
                    headers: {
                'Content-Type': 'application/json'
            },
                    body: JSON.stringify(data),
                });

                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error('Error updating user');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
        var userIdNo 

        async function deleteUser() {
          
            try {           
                const response = await fetch('/admin/delete', {
                    method: 'POST',
                    body: userIdNo
                });

                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error('Error deleting user');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
        async function newVal (userId) {
               userIdNo = userId
               document.querySelector(`.form-modal`).style.display = "flex"
               
        }

    </script>
</head>
<body>
    <nav class="bg-blue-menu">
		<div class="container">
			<div class="d-flex align-items-center justify-content-between">
				<a class="navbar-brand" href="/">
					<img src="./img/logo.png" alt="TradeCrypt" title="TradeCrypt" >
				</a>
				<div class="menu d-flex flex-fill align-items-center justify-content-end">
					<div class="menu-items d-none d-lg-flex flex-fill justify-content-between">
						<a href="/">Home</a>	
						<a href="/arbitrage">Arbitrage</a>
						<a href="/about_us">About us</a>
						<a href="/news">News</a>
						<a href="/partnership">Affiliate Program</a>
						<a href="/help">Support</a>
					</div>

					<div class="order-xl-2 auth-items d-lg-flex d-none align-items-center">
													<a class="btn-bordered" href="/login">Log in</a>
							<a href="/signup">Sign up</a>
											</div>
											
					<div class="order-xl-1 language-box">
						<button class="language">EN</button>
						<img src="./img/arrow-point.png">
						<div class="choose-language">
														<a href="/language=ru">RU | Русский</a>						</div>
					</div>
					<button class="navbar-toggler d-lg-none" type="button"><span class="navbar-toggler-icon"></span></button>
					<span class="d-none close">&times;</span>
				</div>
			</div>
		</div>
	</nav>
 
    <form class="mb-4 form-modal">
       
                Are you sure you want to delete this user? 
                <div>
                <button onclick="deleteUser()">Yes</button> <button>No</button>     
                </div>
                
               
            </form>

    <h1 class="admin-h1">ADMIN PAGE </h1>
    <div class="table-container">
    <table>
        <thead>
            <tr class="admin-th">
                <th>Full Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Deposit</th>   
                <th>Profit</th>              
                <th>Total</th>
                <th>Actions</th>
                <th></th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.fullname %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.deposit %></td>
                    
                    <td>
                        <span class="display-<%= user._id %>"><%= user.profit %></span>
                        <input type="number" id="profit-input-<%= user._id %>" class="edit-<%= user._id %>" value="<%= user.profit %>" style="display:none;">
                    </td>
                    <td><%= user.deposit + user.profit %></td>
                    <td>
                        <button onclick="toggleEditField(`<%= user._id %>`)">Edit</button>
                    </td>
                    <td>
                        <button class="edit-<%= user._id %>" style="display:none;" onclick="saveChanges('<%= user._id %>')">Save</button>
                    </td>
                    <td>
                        <button onClick = "newVal('<%= user._id %>')">Delete</button>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-12 mb-md-0 mb-4">
                    <div class="row h-100 justify-content-between">
                        <div class="col-md-12 col-6"><img src="/img/logo.png" alt="tradecryptexchange.com" title="tradecryptexchange.com"></div>
                        <div class="col-md-12 col-6 align-self-end">2024 tradecryptexchange.com<br /> 
                        All rights reserved</div>
                    </div>
                </div>
    
                <div class="col-xl-10 col-md-9">
                    <div class="row">
                        <div class="col-xl-3 col-6 mb-lg-0 mb-4 links">
                            <a href="/about_us">About us</a></br>
                            <a href="/rules">Terms of use</a></br>
                            <a href="/privacy_policy">Privacy policy</a></br>
                            <a href="/cookie_policy">Cookies Policy</a>
    <br>	<a href="/risk_disclosure">Risk Disclosure</a>
                        </div>
                        
                        <div class="col-xl-3 col-6 links">
                            <a href="/faq">FAQ</a></br>
                            <a href="/help">Support Center</a></br>
                            <a href="/support">Send request</a>
                        </div>
                    
                    </div>
                </div>
            </div>
    
        </div>
    </footer>

    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (100000 - 10000) + 100000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 200000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 10000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 20000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 30000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 70000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (1000 - 4) + 100600)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 40000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (100 - 4) + 150000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 256600)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 50000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 305440)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 74003)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 2000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 80234)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 10000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 99000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 88000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 30000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 188000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (100 - 6) + 108000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 30000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (1000 - 4) + 120000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 10000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (50000 - 76) + 50000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 900) + 80000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 564) + 20000)%></div>
          <div class="swiper-slide"><span class="userid">user ID.</span><%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4676) + 122800)%></div>
    
        </div>
        <!-- If we need pagination -->
        
    
    <script>
        const swiper = new Swiper('.swiper', {
      // Optional parameters
      speed: 1000,
      direction: 'horizontal',
      loop: true,
      autoplay: {
        delay: 8000
      },
      slidesPerView: 1,
      centeredSlides: true,
      allowTouchMove: false
    });
    </script>
</body>
</html>
